//main: ../style.less

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.fons{
    
}

.fons_width{
    left: 0;
    top: 0;
    position: relative;
    
}

.fons_video{
    
    z-index: -100; 
    width: 100%; 
    
     height: auto;
}

.fon_container {
    width: 100%;
    display: flex;
    /* left: 136px; */
    top: -477px;
    position: relative;
    justify-content: center;
}

.koly{
position: absolute;
}

.fon_container p {
    
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    

    overflow: hidden;
}
.fon_container p span.typed-text {
    font-weight: 400;
    color: #33830e;
}
.fon_container p span.cursor {
    display: inline-block;
    background-color: #33830e;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.fon_container p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% {
        background-color: #33830e;
    }
    49% {
        background-color: #33830e;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #33830e;
    }
}


@media (max-width:560px){
    .fons_video{
        display: none;
    }
}